#root, body, html {
    height: 100%;
    margin: 0;
}

body {
    background: url(./assets/hello.gif);
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    
}

input{
    background-color: aliceblue;
    color:white
}